<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Update an Account!</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#C0C0C0">
   <h1>Update an Account</h1>
   <div class="container">
    <form action="userpage/update">
        <label for="id">put in your student id:</label>
        <input type="text" name="id" />

        <label for="firstname">put updated first name here:</label>
        <input type="text" name="firstname">

        <label type="lastname">put updated last name here:</label>
        <input type="text" name="lastname">
        <button type="submit" >Update</button>
   </form>
   </div>
</body>
</html>
